@media screen and (max-width:576px) {
    .nav-bar{
        flex-direction: column;
    }
    .header{
        height: 720px;
    }
    .banner{
        width: 100%;
        
    }
    .maima{
        font-size: 5.5rem;
    }
    .banner-title{
        font-size: 3.5rem;
        line-height: 55px;
        letter-spacing: 2px;
    }
    .banner-description > br {
        font-size: 15px;
        display: none;
    }

    .picture{
        display: none;
    }
    .banner-left{
        margin-left: 30px;
    }
    .banner{
        background-image: none;
        width: 100%;
        margin: auto;
    }
    /* all responsive is good except the above */
    .habits{
        display: flex;
        flex-direction: column;
    }
    .images-habits{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .image-bot{
        width: 50%;
    }
    .run-banner{
        display: flex;
        flex-direction: column;
        width: 450px;
        height: 800px;
        margin: 20px auto 170px auto;
    }
    .run-title{
        font-size: 3.4rem;
    }
    .run-btn{
        width: 360px;
    }
    .run-images{
        margin: 20px  20px;
        
    }
    .membership-card{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: 0px 85px;
    }

    .calculate {
        margin: 0px auto;
        margin-left: 20px;
    
    }
    .chokka-box{
        display: flex;
        flex-direction: column;
        margin: 0px;
        margin-left: 20px;
    }
    .chokka{
        height: 1150px;
    }
    .input-group{
        gap: 20px;
        margin-top: 15px;
        margin-right: 10px;
    }
    input,select{
        padding:22px 30px ;
    }
    .team-section{
        height: 2850px;
    }
    .team-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    }
    .team-container{
        width: 90%;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    footer{
        height: 1380px;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
        margin-left: 25px;
    }
    .hr{
        width: 460px;
    }
}